<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenfonts</title>

<!--Lastest compiled and minified css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!--jQuery Library-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!--Popper JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!--Lastest complied javascript-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link rel="stylesheet" href="/font-awesome.min.css">
<link rel="stylesheet" href="/ionicons.min.css">
<link rel="stylesheet" href="/Footer-Basic.css">
<link rel="stylesheet" href="/Latest-Blog.css">
<link rel="stylesheet" href="/styles.css">

<script src="/fxn.js" defer></script>
<script src="/Contact.js" defer></script>
<script src="/follow.js" defer></script>
    
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src=""
        nonce="ZlxH8NUZ"></script>
            <div >
                <nav class="navbar navbar-dark navbar-expand-md fixed bg-dark mb-5" data-aos="slide-down" data-aos-duration="250"
                    data-aos-offset="20" data-aos-delay="50" id="mainNav">
                    <div class="container">
                        <a class="navbar-brand shadow-sm" href="#page-top">
                            <strong>TODO APP</strong></a><button data-toggle="collapse" data-target="#navbarResponsive"
                            class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse"
                            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fab fa-bars" data-aos="fade-down" data-aos-duration="250" data-aos-offset="20"
                                data-aos-delay="50"></i></button>
                        <div class="collapse navbar-collapse d-md-inline-block" id="navbarResponsive"
                            style="margin-right: 0px;width: 700px;">
                
                            <ul class="nav navbar-nav d-md-inline-flex ml-auto text-uppercase"
                                style="margin: 0px 0px 0px 0px;margin-left: 0px;width: 700px;padding-left: 10px;margin-right: -250px;">
                                <li class="nav-item" role="presentation"></li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/" style="padding: 16.5px 15px;font-size: 15px;width: 120px;">Home</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/Blog" style="padding: 16.5px 15px;font-size: 15px;width: 120px;">Blog</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/Contact"
                                        style="padding: 16.5px 15px;font-size: 15px;width: 120px;">Contact</a>
                                </li>
                
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/Register"
                                        style="padding: 16.5px 15px;font-size: 15px;width: 120px;">Register</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/Login"
                                        style="padding: 16.5px 15px;font-size: 15px;width: 100px;">Login</a>
                                </li>
                
                            </ul>
                        </div>
                    </div>
                </nav>
                {{{body}}}
            </div>
            
        </div>
       
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
