<div class="container-fluid p-0">
    <div class="container bg-info  m-auto" style="border-radius: 20px">
        <div class="container-fluid m-auto" id="header">
            <h2 class="text-center p-3">Daily Quotes</h2>
            <p class="text-center p-2">A Word is Enough for the Wise</p>
    
    
            <p class=" p-1">Get your daily quotes to lead the day</p>
    
            <h6 class=" p-1">Click the button for your quotes</h6>
            <span>
                <button class="btn btn-default mb-3" data-toggle="tooltip" data-placement="top"
                    title="Click the button for Your quote " id="button" style="background-color: rgb(145, 200, 245);">
                    Quote</button>
            </span>
            
        </div>
        <div class="container" id="quote">
        
        </div>
    </div>

   

    


    
