<div class="container-fluid p-0">
   <header class="pulse animated masthead container-fluid pt-5" style="background-image: url('/header-bg.jpg'); height:100vh; background-size:contain">
    <div class="container pt-5 mt-5">
        <h1 class="text-light pt-5"><i>Hello</i> {{Name}}</h1>
        <div class="intro-text mb-5 text-light" style="padding-top: 50px;"><span class="bounce animated text-light"
                style="font-size: 25PX;letter-spacing: 2px; margin-bottom: 50px;">Welcome To
                <strong class="mb-5 text-light">GREENFONTS' MEDIA RESOURCES</strong></span>
            <div class="intro-lead-in"></div>
            <div class="intro-heading text-uppercase mb-5 text-light mt-4"><span >It's Nice To Meet
                    You</span></div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger text-light" role="button"
                data-bs-hover-animate="shake" href="/user/Editprofile">Edit Profile</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger text-light" role="button"
                    data-bs-hover-animate="shake" href="/user/userProfile">My Profile</a>
        </div>
    </div>
</header>

